body{
    text-align: center;
}
.button{
    width: 100px;
    height: 100px;
    border: 2px solid black;
    border-radius: 50%;
    
}
.buttons{
    display: flex;
    align-items: center;
    justify-content: center;
}
#grey{
    background-color: gray;
    text-align: center;
}
#pink{
    background-color: rgb(230, 35, 100);
    text-align: center;
}
#yellow{
    background-color: yellow;
    text-align: center;
}
#purple{
    background-color: purple;
    text-align: center;
}